{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>index</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css">
</head>
<body>
<div class="first_div">
<h3>Guess 4 numbers. Enter them separated with space:</h3>
    <form action="/" method="post">
        {% csrf_token %}
        <input type="text" name="numbers" class="numbers"><br>
        <input type="submit" value="Send" class="submit_button">
    </form>
</div>
<p>{{ guess }}</p>
</body>
</html>